.sign_up {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}

.sign_up_body {
  min-height: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign_up_logo {
  height: 75px;
  margin-bottom: 20px;
}

.welcome_text {
  font-family: Helvetica;
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
  line-height: 30px;
}

.welcome_text_bold {
  font-weight: bold;
}

.sign_up_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign_up_form .MuiTextField-root {
  width: 320px;
  height: 35px;
  background-color: #F3F3F3;
  border-radius: 50px;
  margin-bottom: 15px;
}

.sign_up_form .MuiTextField-root .MuiInputBase-root {
  height: 35px;
  border-radius: 50px;
}

.sign_up_form .MuiTextField-root .MuiInputBase-root input {
  font-size: 13px;
  height: 35px;
  padding: 0;
}

.sign_up_form .MuiTextField-root .MuiInputBase-root svg {
  width: 15px;
  height: 15px;

}

.sign_up_form button {
  width: 100%;
  height: 35px;
  border-radius: 50px;
  margin-top: 5px;
  margin-bottom: 15px;
  text-transform: none;
  font-weight: bold;
  font-size: 13px;
}

.checkbox_remember_me .MuiFormControlLabel-label {
  font-size: 13px;
}

.checkbox_remember_me svg {
  width: 17px;
  height: 17px;
}

.sign_up_footer {
  display: flex;
  width: 330px;
  justify-content: space-evenly;
  font-size: 12px;
  color: gray;
  margin-bottom: 30px;
}

@media only screen and (max-width: 550px) {
  .welcome_text {
    font-size: 17px;
  }

  .sign_up_form .MuiTextField-root {
    width: 270px;
  }

  .sign_up_footer {
    width: 270px;
  }
}
