.notification_chart_body {
  height: 500px;
  grid-column: span 2;
  grid-row: span 3;
}

.notification_chart_body .chart {
  padding-left: 30px;
  height: 450px !important;
}

.content_body {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
}

.content_body .item_with_info {
  padding: 20px;
  border: 1px lightgrey solid;
  height: calc((502px - 40px - 120px - 6px) / 3);
}

.content_body .item_with_info .this_week_percentage {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.content_body .item_with_info .this_week_percentage svg {
  margin-bottom: 2px;
}

.word_cloud_container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: calc(33.33% - 13.33px) calc(33.33% - 13.33px) calc(33.33% - 13.33px);
}

.word_cloud_container .word_component_item {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
}

.word_cloud_container .word_component_item p {
  margin: 10px 0;
}

.word_cloud_container .word_component_item .word_component_word {
  display: flex;
}

.word_cloud_container .word_component_item .word_component_word .word_component_index {
  font-weight: bold;
  margin-right: 10px;
}

.word_cloud_container .word_component_item .word_component_word .word_component_word {
  overflow-wrap: anywhere;
}

.word_cloud_container .word_component_item .word_component_value {
  font-size: 24px;
  color: #ECAB14;
  font-weight: bold;
  margin-left: 20px;
}

.word_cloud_container .no_words {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.word_cloud_container .word_loading {
  height: 100px;
}

@media only screen and (max-width: 1280px) {
  .content_body {
    grid-template-columns: calc(33.33% - 15px) calc(33.33% - 15px) calc(33.33% - 15px);
  }
}

@media only screen and (max-width: 900px) {
  .content_body {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  }
  
  .word_cloud_container {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  }
  
  .word_cloud_container .last_item {
    grid-column: span 2;
  }
  
  .word_cloud_container .last_item .word_component_item {
    width: calc(50% - 50px);
    display: inline-flex;
  }
  
  .word_cloud_container .last_item .margin_right {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 650px) {
  .notification_chart_body .chart {
    padding-left: 15px;
  }
  
  .content_body .item_with_info {
    grid-column: span 2;
  }

  .word_cloud_container {
    grid-template-columns: 100%;
  }

  .word_cloud_container .last_item {
    grid-column: span 1;
  }
  
  .word_cloud_container .last_item .word_component_item {
    width: auto;
    display: flex;
  }
  
  .word_cloud_container .last_item .margin_right {
    margin-right: 0;
  }
}

@media only screen and (max-width: 450px) {
  .notification_chart_body .chart {
    padding-left: 10px;
  }
}
