.notification_chart_body .chart {
  padding-left: 50px;
}

.content_total_posts {
  display: grid;
  gap: 20px;
  grid-template-columns: calc(50% - 20px) calc(50% - 20px);
}

.content_total_posts .item_with_info {
  padding: 20px;
  border: 1px lightgrey solid;
}

.content_total_posts .item_with_info .this_week_percentage {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.content_total_posts .item_with_info .this_week_percentage svg {
  margin-bottom: 2px;
}
