.export_report_button {
  margin: 15px 20px !important;
  border-radius: 20px !important;
  font-size: 12px !important;
}

@media only screen and (max-width: 750px) {
  .export_report_button {
    margin: 8px 20px !important;
  }
}

@media only screen and (max-width: 550px) {
  .export_report_button {
    margin-bottom: 50px !important;
  }
}
