.audiences_charts {
  margin: 20px 0;
  display: grid;
  gap: 20px;
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
}

.audiences_charts .item_with_info {
  padding: 20px 8px;
  border: 1px lightgrey solid;
}

.audiences_charts .item_with_info:nth-of-type(4) {
  margin-right: 0;
}

.audiences_charts .item_with_info .chart {
  height: 50px !important;
  margin: 10px 0;
}

.audiences_charts .item_with_info .title, .audiences_charts .item_with_info .value {
  padding: 0 12px;
}

.audiences_charts .item_with_info .chart canvas {
  cursor: pointer !important;
}

.audiences_charts .loading_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 165px;
}

.audiences_chart_dialog .MuiDialog-paper {
  min-width: 70%;
}

.audiences_chart_dialog .title {
  display: flex;
  justify-content: space-between;
}

.audiences_chart_dialog .title .value {
  font-size: 25px;
}
